/* -------------------------------------- */
/* imported reset                         */
/* -------------------------------------- */
@import url(./reset.scss);

/* -------------------------------------- */
/* variables                              */
/* -------------------------------------- */

:root {
  --clr-primary-100: 0, 0%, 0%;
  --clr-primary-900: 0, 0%, 100%;

  --ff-primary: 'Montserrat', sans-serif;

  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-600: 2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

::selection {
  background-color: hsl(var(--clr-primary-900));
  color: hsl(var(--clr-primary-100));
}

::-webkit-scrollbar {
  width: .25rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-primary-900));
}

/* -------------------------------------- */
/* body and container                     */
/* -------------------------------------- */

body {
  background-color: hsl(var(--clr-primary-100));
  color: hsl(var(--clr-primary-900));
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  font-family: var(--ff-primary);
}

.container {
  --width: 60rem;
  --padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  min-height: 100vh;
  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

/* -------------------------------------- */
/* header                                 */
/* -------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  border-bottom: 1px solid hsl(var(--clr-primary-900), .4);

  &__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
  }

  &__price-box {
    display: grid;
    gap: .5rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__button {
    background: transparent;
    border: 1px solid hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-900));
    padding: .25rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover,
    &:focus-visible {
      background: hsl(var(--clr-primary-900));
      color: hsl(var(--clr-primary-100));
    }
  }

  &__totals {
    font-size: var(--fs-300);
  }
}

@media (max-width: 30rem) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    &__group {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

/* -------------------------------------- */
/* main for products                      */
/* -------------------------------------- */

.main--products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product {
  --padding-inline: 1rem;

  display: grid;
  gap: .5rem;
  background-color: hsl(var(--clr-primary-900), .1);
  border-radius: .25rem;
  overflow: hidden;

  &__name{
    padding-inline: var(--padding-inline);
    font-weight: var(--fw-500);
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-inline) var(--padding-inline);
  }

  &__add {
    background: transparent;
    color: hsl(var(--clr-primary-900));
    border: 1px solid hsl(var(--clr-primary-900));
    font-size: var(--fs-300);
    padding: .25rem 1rem;
    border-radius: 100vmax;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      color: hsl(var(--clr-primary-100));
      background-color: hsl(var(--clr-primary-900));
    }
  }

  &__price {
    background-color: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
    font-size: var(--fs-300);
    padding: .25rem 1rem;
    border-radius: 100vmax;
  }
}

/* -------------------------------------- */
/* cart                                   */
/* -------------------------------------- */

.cart {
  list-style: none;
  display: grid;
  gap: 1rem;

  &__totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    margin-top: 3rem;
    border: 1px solid hsl(var(--clr-primary-900));
    border-radius: 1rem;
  }

  &__item {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: clamp(.1rem, 1vw, .5rem);
  }

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__column--two {
    justify-content: space-around;
  }

  &__img {
    max-width: 6rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  &__title {
    font-weight: var(--fw-600);
    font-size: clamp(var(--fs-300), 4vw, var(--fs-400));
  }

  &__button {
    color: white;
    border: none;
    background: transparent no-repeat center;
    background-image: url(../assets/close.svg);
    background-size: contain;

    width: 1.5rem;
    aspect-ratio: 1;

    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      opacity: .6;
    }
  }

  &__submit {
    background: hsl(var(--clr-primary-900));
    color: hsl(var(--clr-primary-100));
    padding: .25rem .75rem;
    border: 1px solid hsl(var(--clr-primary-900));
    border-radius: .5rem;
    transition: all 150ms ease-in;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: hsl(var(--clr-primary-900));
    }
  }
}

@media (max-width: 40rem) {
  .cart {
    &__per-item {
      display: none;
    }

    &__qty {
      display: none;
    }

    &__img {
      max-width: 4.5rem;
    }
  }
}

/* -------------------------------------- */
/* footer                                 */
/* -------------------------------------- */

.footer {
  margin-bottom: 2rem;
}